main {
    margin-top: 80px;
    padding-bottom: 1000px;
}

.destination{
    display: flex;
    align-items: center;
    background-color: #EEE;
    border-radius: 10px;
    width: 260px;
    height: 40px;
    gap: 10px;
    margin: 40px auto;
    p{
        background-color: #E94619;
        color: #fff;
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 1.6rem;
        font-weight: bold;
        margin-left: 5px;
    }
    input{
        height: 30px;
        width: 80%;
        margin-right: 5px;
        font-size: 1.6rem;
    }
}

.keyword_wrap{
    background-color: #EEE;
    border-radius: 10px;
    width: 362px;
    height: 270px;
    margin: 0 20px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    .keyword{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
        gap: 40px;
        &:last-child{
            margin: 0;
        }
            h2{
                font-size: 1.6rem;
                width: 3em;
            }
            p{
                font-size: 1.6rem;
                font-weight: bold;
                margin: 0 5px;
            }
            input[type="radio"]{
                accent-color: #E94619;
                transform: scale(1.4);
                margin-right: 3px;
            }
            input[type="radio"] + label{
                transition: 0.15s;
                color: #333;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                font-size: 1.6rem;
                margin-right: 10px;
                font-weight: bold;
                &:last-child{
                    margin-right: 0;
                }
            }
            .radio_wrap{
                display: flex;
                align-items: center;
                gap: 5px;
                .blance{
                    font-size: 1.4rem;
                }
            }
            input[name="people"]{
                border: #E94619 solid 1px;
                background-color: #fff;
                border-radius: 5px;
                width: 50px;
                height: 30px;
                text-align: right;
            }
            .number_wrap{
                display: flex;
                align-items: end;
            }
            .keyword_cost{
                display: flex;
                align-items: end;
                
            }
            input[name="mincost"],
            input[name="maxcost"]{
                width: 60px;
                height: 30px;
                border: #E94619 solid 1px;
                background-color: #fff;
                border-radius: 5px;
                text-align: right;
        }
        .select_wrap{
            position: relative;
            width: 180px;
            select{
                border: #E94619 1px solid;
                width: 100%;
                height: 40px;
                padding: 0 35px 0 10px;
                border-radius: 10px;
                font-size: 1.6rem;
                background-color: #fff;
            }
            .select_icon{
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 24px;
                color: #333;
                pointer-events: none;
            }
        }
    }
}

.submit{
    width: 200px;
    height: 40px;
    background-color: #E94619;
    border-radius: 10px;
    transition: 0.5s;
    margin: 40px auto ;
    a{
        text-decoration: none;
        display: flex;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 1.6rem;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
    &:hover{
        background-color: #B83C19;
    }
}