main{
    margin-top: 100px;
}
.result_station{
    width: 362px;
    height: 40px;
    border-radius: 10px;
    background-color: #EEE;
    margin: 30px 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    input{
        width: 300px;
        height: 100%;
        font-size: 1.6rem;
    }
}