main{
    margin-top: 100px;
    padding-bottom: 1000px;

}
.result_station{
    width: 362px;
    height: 40px;
    border-radius: 10px;
    background-color: #EEE;
    margin: 30px 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    input{
        width: 300px;
        height: 100%;
        font-size: 1.6rem;
    }
}

.itiosi{
    display: flex;
    position: relative;
    h2{
        margin: 0 30px;
        font-size: 1.6rem;
    }
    span{
        position: absolute;
        right: 30px;
        color: #828282;
    }
}
.result_box{
    margin: 0 20px;
    .result_item_wrap{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        
        .result_item{
            width: 150px;
            padding: 10px;
            img{
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
            .item_text{
                h3{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1.2rem;
                }
                .detail_text{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .result_text{
        p{
            font-size: 1.6rem;
            padding: 10px 20px;
        }
        .total{
            border-top: #82828258 solid 1px;
        }
        .pick_up{
            border-top: #82828258 solid 1px;
        }
    }
}

.edit_btn_wrap{
    display: flex;
    justify-content: center;
    gap: 60px;
    button{
        border: 3px solid #B9B8B8;
        background-color: #fff;
        width: 100px;
        height: 40px;
        font-size: 1.6rem;
        border-radius: 10px;
        transition: 0.2s;
        margin: 20px 0;
        &:hover{
            background-color: #e0e0e0;
        }
    }
}

.result_btn_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    gap: 15px;
    margin-top: 10px;
    button{
        border-radius: 10px;
        width: 200px;
        height: 40px;
        background-color: #E94619;
        color: #fff;
        font-weight: bold;
        transition: 0.2s;
        &:hover{
            background-color: #c93c15;
        }
    }
    p{
        width: 200px;
        height: 40px;   
        a{
            border-radius: 10px;
            border: #B9B8B8 solid 3px;
            text-decoration: none;
            color: #000;
            width: 100%;
            height: 100%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
            &:hover{
                background-color: #e0e0e0;
            }
        }
    }
}

.flying-bag{
    position: fixed;
    z-index: 100;
    width: 70px; 
    height: auto;
    pointer-events: none;
    transition: all 0.8s cubic-bezier(0.42, 0, 0.58, 1); 
}


.flying-bag.is-flying {
    transform: scale(0.1);
    opacity: 0.8;
}
