html{
    font-size: 62.5%;
}

html , body{
    width: 100%;
    height: 100%;
    font-family: "Hiragino Kaku Gothic Pro" , sans-serif;
    display: flex;
    justify-content: center;
}
.main_content{
    width: 402px;
    span{
        cursor: pointer;    
    }
}

header{
    width: 100%;
    height: 100px;
    background-color: #E94619;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    .header_wrap{
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-top: auto;
        height: 100%;
    }
    .header_title{
        display: flex;
        color: #fff;
        justify-content: center;
    }
    .qr_mark{
        color: #fff;
    }
    .header_icon_wrap{
        /* border: 1px solid #000; */
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 25px;
        margin-bottom: 12px;
        gap: 20px;
    }
}
main{
    overflow: scroll;
    position: relative;
    z-index: 1;
    /* border: #000 solid 1px; */
}
footer{
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 110px;
    border-top: #ADADAD solid 1px;
    z-index: 10;

/* footerのアイコンたち */
    .footer_icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-top: 11px;
        span{
            color: #828282;

        }
        a{
            color: #828282;
            text-decoration: none;
        }
    }
    .active{
        span {
            color: #E94619;
        }
        p,a {
            color: #E94619;
        }
    }
}