main {
    margin-top: 100px;
}

.destination{
    display: flex;
    p{
        background-color: #E94619;
        color: #fff;
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
    }
}