input[type="radio"]{
    background-color: tomato;
    display: none;
}
input[type="radio"] + label{
    color: #333;
    border: solid 1px #E94619;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.6rem;
    width: 80px;

}
input[type="radio"]:checked + label{
    color: tomato;
    border: solid 1px tomato;
}
