main {
    margin-top: 100px;
}

.destination{
    display: flex;
    p{
        background-color: #E94619;
        color: #fff;
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: bold;
    }
}