
/* mainを真ん中に */
main{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.seach_wrap{
    border: #333 solid 1px;
    margin: 0 auto;
}

/* 目的地 */
input[type="text"]{
    background-color: #EEE;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.4rem;
    padding-left: 85px;
}

/* ラジオボタンの丸を無くす */
input[type="radio"]{
    background-color: tomato;
    display: none;
}

/* ラジオボタンの見た目 */
input[type="radio"] + label{
    color: #333;
    background-color: #fff;
    border: solid 2px #E94619;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.6rem;
    width: 80px;
    height: 30px;
    /* font-weight: bold; */
    /* margin-left: 8px; */
}

/* ラジオボタンを押した時 */
input[type="radio"]:checked + label{
    color: #fff;
    background-color: #E94619;
}

/* 人数 */
input[type="number"]{
    border: #E94619 solid 2px;
    background-color: #fff;
    border-radius: 10px;
    width: 70px;
    height: 30px;
}

/* レンジスライダー */
input[type="range"]{
    /* -webkit-appearance: none; */
    width: 100px;
    height: 6px;
    /* background: linear-gradient(
        to right,
        #E94619 0%,
        #E94619 30%,
        #ccc 30%,
        #ccc 100%
    ); */
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #E94619;
    border-radius: 50%;
    cursor: pointer;
}

/* キーワード全体 */
.keyword_wrap{
    background-color: #EEE;
    border-radius: 10px;
    margin: 40px auto;
}


/* キーワードひとつずつ */
.keyword{
    /* border: #333 solid 1px; */
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    gap: 10px;

}

/* 検索するボタン */
button[type="submit"]{
    width: 200px;
    height: 40px;
    background-color: #E94619;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 10px;
}

