main {
    margin-top: 100px;
}

.destination{
    display: flex;
    align-items: center;
    background-color: #EEE;
    border-radius: 10px;
    width: 260px;
    height: 40px;
    gap: 10px;
    margin: 40px auto;
    p{
        background-color: #E94619;
        color: #fff;
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 1.6rem;
        font-weight: bold;
        margin-left: 5px;
    }
    input{
        height: 30px;
        width: 80%;
        margin-right: 5px;
        font-size: 1.6rem;
    }
}

.keyword_wrap{
    background-color: #EEE;
    border-radius: 10px;
    width: 362px;
    height: 270px;
    margin: 0 20px;
    padding: 30px;
    .keyword{
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 30px;
        gap: 45px;
        h2{
            font-size: 1.6rem;
            width: 3em;
        }
        input[type="radio"]{
            accent-color: #E94619;
            transform: scale(1.4);
            margin-right: 3px;
        }
        input[type="radio"] + label{
            transition: 0.15s;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-size: 1.6rem;
            margin-right: 20px;
            font-weight: bold;
            &:last-child{
                margin-right: 0;
            }
        }
        .radio_wrap{
            display: flex;
            gap: 5px;
        }
        input[type="number"]{
            border: #E94619 solid 1px;
            background-color: #fff;
            border-radius: 5px;
            width: 50px;
            height: 30px;
            text-align: right;
        }
        .number_wrap{
            display: flex;
            align-items: end;
            p{
                font-size: 1.6rem;
            }
        }
    }
}
