main {
    margin-top: 100px;
}

.destination{
    display: flex;
    align-items: center;
    background-color: #EEE;
    border-radius: 10px;
    width: 260px;
    height: 40px;
    gap: 10px;
    margin: 40px auto;
    p{
        background-color: #E94619;
        color: #fff;
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 1.6rem;
        font-weight: bold;
        margin-left: 5px;
    }
    input{
        height: 30px;
        width: 80%;
        margin-right: 5px;
        font-size: 1.6rem;
    }
}

.keyword_wrap{
    background-color: #EEE;
    border-radius: 10px;
    width: 362px;
    height: 270px;
    margin: 0 20px;
    padding: 20px;
    .keyword{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        gap: 20px;
        h2{
            font-size: 1.6rem;
            width: 3em;
        }
        input[type="radio"]{
            accent-color: #f00;
        }
        input[type="radio"] + label{
            transition: 0.15s;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-size: 1.6rem;
            margin-right: 30px;
        }
        input[type="radio"]:checked{
            color: aqua;
        }
        .radio_wrap{
            display: flex;
            gap: 5px;
        }
        input[type=""]
    }
}
