main{
    display: flex;
    justify-content: center;
}

input[type="text"]{
    border: #CCC 1px solid;
    width: 260px;

}

input[type="radio"]{
    background-color: tomato;
    display: none;
}
input[type="radio"] + label{
    color: #333;
    border: solid 2px #E94619;
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 1.6rem;
    width: 80px;
    height: 30px;
    /* font-weight: bold; */
    /* margin-left: 8px; */
}
input[type="radio"]:checked + label{
    color: #fff;
    background-color: #E94619;
}

input[type="number"]{
    border: #E94619 solid 2px;
    border-radius: 10px;
    width: 70px;
    height: 30px;
}

input[type="range"]{
    /* -webkit-appearance: none; */
    width: 100px;
    height: 6px;
    /* background: linear-gradient(
        to right,
        #E94619 0%,
        #E94619 30%,
        #ccc 30%,
        #ccc 100%
    ); */
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #E94619;
    border-radius: 50%;
    cursor: pointer;
}

.keyword_wrap{
    display: flex;
    
}

button[type="submit"]{
    width: 200px;
    height: 40px;
    background-color: #E94619;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 10px;
    margin-top: 40px;
}
