input[type="radio"]{
    background-color: tomato;
    display: none;
}
input[type="radio"] + label{
    color: #333;
    border: solid 2px #E94619;
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 1.6rem;
    width: 80px;
    height: 30px;
    /* font-weight: bold; */
    /* margin-left: 8px; */
}
input[type="radio"]:checked + label{
    color: #fff;
    background-color: #E94619;
}

input[type="number"]{
    border: #E94619 solid 2px;
    border-radius: 10px;
    width: 70px;
    height: 30px;
}

input[type="range"]{
    color: #E94619;
}

button[type="submit"]{
    width: 200px;
    height: 40px;
    background-color: #E94619;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 10px;
    margin-top: 40px;
}
