input[type="radio"]{
    background-color: tomato;
    display: none;
}
input[type="radio"] + label{
    color: #333;
    border: solid 1px #333;
    padding: 1rem;
}
input[type="radio"]:checked + label{
    color: tomato;
    border: solid 1px tomato;
}

