html{
    font-size: 62.5%;
}

html , body{
    width: 100%;
    height: 100%;
    font-family: "Hiragino Kaku Gothic Pro" , sans-serif;
    margin: 0 auto;
}
.main_content{
    width: 402px;
}

header{
    width: 100%;
    height: 100px;
    background-color: #E94619;
}