html{
    font-size: 62.5%;
}

html , body{
    width: 100%;
    height: 100%;
    font-family: "Hiragino Kaku Gothic Pro" , sans-serif;
    display: flex;
}

header{
    width: 100%;
    height: 100px;
    background-color: #E94619;
}