html{
    font-size: 62.5%;
}

html , body{
    width: 100%;
    height: 100%;
    font-family: "Hiragino Kaku Gothic Pro" , sans-serif;
    display: flex;
    justify-content: center;
}
.main_content{
    width: 402px;
}

header{
    width: 100%;
    height: 100px;
    background-color: #E94619;
    .header_wrap{
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }
    .header_txt{
        display: flex;
        color: #fff;
        justify-content: center;
    }
    .qr_mark{
        color: #fff;
    }
    .header_icon_wrap{
        display: flex;
        justify-content: end;
        margin-right: 25px;
        gap: 20px;
    }
}